<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    <h1>About us</h1>
    <h2>รายชื่อ สมาชิกกลุ่ม UN NAI DEE </h2>
    <p> 1. 6110490023 : นายเอกนรินทร์ เลิศนันทวัฒน์ </p>
    <p> 2. 6110613111 : นางสาวชื่นชนก ผิวเกลี้ยง</p>
    <p> 3. 6110613178 : นายธีรัช ประสิทธิ์เวช</p>
    <p> 4. 6110613194 : นายภูริณัฐ สุเมธยาจารย์</p>
    <p> 5. 6110680565 : นายธาม เธียระวิบูลย์</p>
    <br>
    <h2>หัวข้อโครงงาน </h2>
    <p>
        UN NAI DEE
    </p>
    <h2>Links</h2>
    <a href="https://www.pivotaltracker.com/n/projects/2470755">Tracker</a><br>
    <a href="https://github.com/6110490023/Unnaidee">GitHub repository</a><br>
    <a href="https://unnaidee.herokuapp.com/">heroku</a>

</body>

</html>