{% extends 'notebook/layoutprofile.html' %}
{% block content %}

<div class="container">
    <h1>Edit Data Notebook</h1>
    <hr>
    <div class="row">
        <div class="col-10">
            {% if err %}
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                {{err}}
            </div>
            {% endif %}
            <h3>Personal info</h3>
            <form class="" method="POST" enctype="multipart/form-data" action="{%url 'adddatanotebook'%}">
                {% csrf_token %}
                <input type="file" name="img">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Brand:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="brand">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">descrition:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="descrition">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">typeNotebook:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="typeNotebook">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">series:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="series">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">date:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">weight:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"  name="weight">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </form>
            <a href="{% url 'showadmin'%}" >Home admin</a>
        </div>



    </div>
    <hr>
</div>

{% endblock %}