{% extends 'notebook/layoutprofile.html' %}
{% block content %}
<div class="container">
    <h1>Add Notebook</h1>
    <hr>
    {% if err %}
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                {{err}}
            </div>
    {% endif %}
    <div class="row">
        <div class="col-md-9 personal-info">
            <form action="{% url 'addnotebook' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-lg-3 control-label">Notebookdata</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="notebookdata">
                            <option value="">Select</option>
                            {% for notebook in notebookdatas %}
        
                            <option value={{notebook.id}}>{{notebook.brand}} {{notebook.series}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">CPU</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="cpu">
                            <option value="">Select</option>
                            {% for cpu in cpus %}
        
                            <option value={{cpu.id}}>{{cpu.brand}} {{cpu.name}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">GPU</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="gpu">
                            <option value="">Select</option>
                            {% for gpu in gpus %}
        
                            <option value={{gpu.id}}>{{gpu.brand}} {{gpu.name}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">RAM</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="ram">
                            <option value="">Select</option>
                            {% for ram in rams %}
        
                            <option value={{ram.id}}>{{ram.capacity}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">ROM</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="rom">
                            <option value="">Select</option>
                            {% for rom in roms %}
        
                            <option value={{rom.id}}>{{rom.capacity}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">DISPLAY</label>
                    <div class="col-lg-8">
                        <select class="form-control form-control-lg" name="display">
                            <option value="">Select</option>
                            {% for display in displays %}
        
                            <option value={{display.id}}>{{display.size}} {{display.resolution}}</option>
                           
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Price</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="price">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Notebook">
                    </div>
                </div>
            </form>
            <a href="{% url 'showadmin'%}" >Home admin</a>
        </div>
    </div>
    <hr>
</div>

{% endblock %}