{% extends 'notebook/layout02.html' %}
{% block content %}
<nav class="navbar">
  <div class="container-fluid navbar-fixed-top">
    {{name}}
    <ul class="navbar-nav"> 
      <li><a href="{% url 'login_logoutpage' %}">{{log}}</a></li>
      <li><a href="{% url 'register' %}">register</a></li>
    </ul>
  </div>
  <div class="container">

    <div class="navbar-input ">
      <a class="logo" href="{% url 'index' %}"><img src="../../static/img/logo.png"></a>
      <div class="search-box">
        <form action="#" method="POST">
          {% csrf_token %}
          <input type="text" name="search-text" placeholder="Search..">
          <input type="submit" value="search">
        </form>
      </div>
    </div>
    <div class = "navbar-manu">
      <a href="#">compare</a>
      <a href="#">my Favarite </a>
    </div>
  </div>


</nav>
<! -- เเสดงโน็ตบุ้คทั้งหมด -->
  {% for note in notebook %}
<div class="container">
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0">
        <img src="//placehold.it/200" alt="">
    </div>
    <div class="card-block px-2">
        <h4 class="card-title">{{ note.series }}</h4>
        <p class="card-text">
          <li>CPU:</li>
          <li>GPU:</li>
          <li>ROM:</li>
          <li>RAM:</li>
          <li>DISPLAY:</li>
          <li>PRICE:</li>
        </p>
        <a href="#" class="btn btn-primary">รายละเอียด</a>
    </div>
  </div>
</div>
<br>
  {% endfor %}
<! -- เเสดงโน็ตบุ้คทั้งหมด -->
<li><a href="{% url 'about' %}">about</a></li>
{% endblock %}