{% extends 'notebook/layout3.html' %}
{% block content %}
{% load static %}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->

		<div class="row">
			{% for notebook in notebookall %}
			<a href="#">
				<div class="col-md-4 ">
					Brand : {{ notebook.notebookdata.brand}} <br>
					Series : {{ notebook.notebookdata.series}}<br>
					Descrition : {{notebook.notebookdata.descrition}}<br>
					TypeNotebook : {{notebook.notebookdata.typeNotebook}}<br>
				</div>
			</a>
			{% endfor %}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}