{% extends 'notebook/layoutmain.html' %}
{% block content %}
{% load static %}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			{% if item %}	
			<h3>{{item}}</h3>
			{% endif %}
			{% for notebook in notebookall %}
			<div class="col-md-4 ">
				<form id="form-id_{{notebook.id}}" action="{% url 'notebook' %}" method="POST">
					{%csrf_token%}

					<input type="hidden" value="{{notebook.id}}" name="notebook_id">
					<a href="#" onclick="document.getElementById('form-id_{{notebook.id}}').submit();">
						
						id : {{ notebook.id}} <br>
						Brand : {{ notebook.notebookdata.brand}} <br>
						Series : {{ notebook.notebookdata.series}}<br>
						Descrition : {{notebook.notebookdata.descrition}}<br>
						TypeNotebook : {{notebook.notebookdata.typeNotebook}}<br>
						Price : {{notebook.price}}<br>
						Date : {{notebook.notebookdata.date}}<br>

					</a>
					
				</form>
				<form action="{% url 'mark' %}" method="POST">
					{%csrf_token%}
					<button name="id" value="{{notebook.id}}" type='submit'> Add to
						Favorite</button>
				</form>
			</div>
			{% endfor %}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}