{% extends 'notebook/layoutmain.html' %}
{% block content %}
{% load static %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->

            <h1>{{notebook.notebookdata.brand}}  {{notebook.notebookdata.series}} </h1>
            <h2> {{notebook.notebookdata.descrition}} </h2>
            <p>{{ notebook.notebookdata.typeNotebook}} <br>
                {{ notebook.notebookdata.date}}<br>
                {{ notebook.gpu.brand}}

            </p>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}