{% extends 'notebook/layoutmain.html' %}
{% block content %}
{% load static %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->

            <h1>{{notebook.notebookdata.brand}}  {{notebook.notebookdata.series}} </h1>
            <img src="https://drive.google.com/uc?export=view&id={{notebook.notebookdata.img}}" class="avatar img-circle" alt="avatar" width="400px" height="400px">
			<br>
            <p> Display : {{ notebook.display.size}} inch <br>
                Resolution : {{ notebook.display.resolution}} <br>
                CPU : {{ notebook.cpu.brand}} {{ notebook.cpu.name}} <br>
                GPU : {{ notebook.gpu.brand}} {{ notebook.gpu.name}} <br>
                Ram : {{ notebook.ram.capacity}} <br>
                Rom : {{ notebook.rom.capacity}} <br>
                OS  : {{ notebook.OStype}} <br>
                Weight : {{ notebook.notebookdata.weight}} Kg <br>
                TypeNotebook : {{ notebook.notebookdata.typeNotebook}} <br>
                FirstSellDate : {{ notebook.notebookdata.date}} <br>
                Price : {{ notebook.price }} Baht <br>
            </p>
            <h3> {{notebook.notebookdata.descrition}} </h3>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}