{% extends "notebook/layoutlogin-register.html" %}
{% block content %}


<div class="container">
    <form action="{% url 'addregister' %}" method="POST" class="form">
        {% csrf_token %}
        <h2>Register With Us</h2>
        {% if message%}
        <h3>{{message}}</h3>
        {%endif%}
        <div class="form-control">
            <label for="username">Name</label>
            <input type="text" placeholder="Enter name" name="firstname">
            {% if errorname%}
            <h5>{{errorname}}</h5>
            {%endif%}
        </div>
        <div class="form-control">
            <label for="username">Surname</label>
            <input type="text" placeholder="Enter surname" name="lastname">
            {% if errorsurname%}
            <h5>{{errorsurname}}</h5>
            {%endif%}
        </div>

        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter email" name="email">
            {% if erroremail%}
            <h5>{{erroremail}}</h5>
            {%endif%}
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password">
            {% if errorpassword%}
            <h5>{{errorpassword}}</h5>
            {%endif%}
        </div>
        <div class="form-control">
            <label for="password2">Confirm Password</label>
            <input type="password" placeholder="Enter password again" name="confirmpassword">
            {% if errorconfirmpassword%}
            <h5>{{errorconfirmpassword}}</h5>
            {%endif%}
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}